<!doctype html>
    <html>
        <head>
            <title>Meadowlark Travel</title>
        </head>
        <body>
            <header>
                <img src="/img/apple.svg" alt="Meadowlark Travel logo" width="300">
            </header>
            {{{body}}}
        </body>
    </html>